.LS-container{
    margin: 0px 100px;
}

.LS-heading{
    display: flex;
    justify-content: center;
    margin: 30px 0;

}

.LS-Forms{
    border-bottom: 1px solid rgba(190, 185, 185, 0.617) ;
    padding-bottom: 30px ;
}

.LS-Forms>div{
    border: 1px solid rgba(190, 185, 185, 0.617) ;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-top: 20px;

}
.LS-Forms-btns{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.LS-Forms-btns>button{
    margin-right: 10px;
}
