
.profileDetailsContainer{
    margin-left: 50px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}

.profileDetails-Category{
    font-family: Poppins;
    font-weight: 500;
    font-size: 25px;
    margin: 0;
    color:white;
    text-transform: capitalize;
    margin-top: 15px;
    border-bottom: 1px solid white;
    letter-spacing: 2px;
}

.contactType{
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}


.contactType-Value{
    font-family: Poppins;
    font-size: 12px;
    margin-top: 0;
    color: rgb(211, 206, 206);
}

.education-detail{
    font-family: Poppins;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(211, 206, 206);
}

.education-detail--degree{
    font-family: Poppins;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(211, 206, 206);
}

.expertiseList{
    font-family: Poppins;
    font-size: 12px;
    color: rgb(211, 206, 206);
    margin-left:-20px;
}
.languageList{
    font-family: Poppins;
    font-size: 12px;
    color: rgb(255, 255, 255);

}