.main-container{
    width: 100%;
    height: 100vh;
    border: 1px red solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Child-container{
    border: 1px green solid;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header,.footer{
    background-color: aqua;
    width: 100%;
    text-align: center;
}