.btn{
    color:white;
    background-color: #4314B6;
    border-radius: 5px;
    border: none;
    display: flex;
    padding: 6px 20px;
    font-size: 16px;
    align-items: center;
 }

 .btn:hover{
    cursor: pointer;
    background-color: #5327c2;
 }

 .btn-logo{
   line-height: 8px;
 }

 .btn-title{
   margin-left: 5px;
 }

 

 .btn-secondary{
    color: inherit;
    background-color: white;
    border: 1px solid black;
 }

 .btn-secondary:hover{
   background-color: #43298612;
   border: 1px solid #4314B6;
   transition: 0.5s;
}
