.container{
    /* color: white; */
    /* box-sizing: border-box; */
    border-radius: 20px;
}

img{
    border-radius: 20px;
}

img:hover{
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.05);
}
.title,.channel,.views,.time{
    cursor: pointer;
}